#root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #00ace8, #5bf08d);
}

.label {
    -fx-font-family: Calibri;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
